.PostCard {
	display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border: solid 1px rgba(0, 0, 0, 0.075);
    margin-top: 3rem;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.053);
    position: relative;
    
    
    animation: fadeInScale 0.1s ease-out;
}

@keyframes fadeInScale {
    from {
      opacity: 0;
      transform: scale(0.50);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

.postContect{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    color:rgba(0, 0, 0, 0.836) ;
    text-wrap: wrap;
}

.editOrDeleteBox{
    position: absolute;
    top: 0.5rem;
    right: 0rem;

}